<h1>{{locationTitle}}</h1>
<h3>Add a new item</h3>
<button ng-click="toDash()">Dashboard</button>
<form>
	<input type="text" placeholder="Item Title" ng-model="item.title">
	<input type="text" placeholder="Grams of Carbs" ng-model="item.carbs">
	<input type="text" placeholder="Grams of Protein" ng-model="item.protein">
	<input type="text" placeholder="Grams of Fat" ng-model="item.fat">
	<button ng-click="createNewItem(item)">create</button>
</form>
<div ng-repeat="object in objects">
	<ul>
		<li>{{object.title}}<button ng-click="deleteObject(object._id)">Delete</button></li>
		<li>{{object.carbs}}</li>
	</ul>
</div>